<div id='model-li-hide-10' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-10 table {
            position: absolute;
        }

        #model-li-hide-10 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>
    <!--WI——2020b-->
    <table style="left: 25%;top:35%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_2202b
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_2202b"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 15%;top:50%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_2202a
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_2202a"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 70%;top:35%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_2204b
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_2204b"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 65%;top:50%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_2204a
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_2204a"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <!--机内-->
    <table style="left: 1%;top:55%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                反馈频率
            </td>
            <td><span id="SI_2203b"></span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                设定频率
            </td>
            <td><span>0</span></td>
            <td>Hz</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 50%;top:55%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                反馈频率
            </td>
            <td><span id="SI_2203a"></span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                设定频率
            </td>
            <td><span>0</span></td>
            <td>Hz</td>
        </tr>
        </tbody>
    </table>
    <!--频率-->
    <table style="left: 20%;top:55%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                机内压力
            </td>
            <td><span id="LXJB_jineiPI"></span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                起控压力
            </td>
            <td><span id="LXJB_qikongPI">0</span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                机内含氧
            </td>
            <td><span id="LXJB_yangqiFI">0</span></td>
            <td>Hz</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 70%;top:55%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                机内压力
            </td>
            <td><span id="LXJA_jineiPI"></span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                起控压力
            </td>
            <td><span id="LXJA_qikongPI">0</span></td>
            <td>Hz</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                机内含氧
            </td>
            <td><span id="LXJA_yangqiFI">0</span></td>
            <td>Hz</td>
        </tr>
        </tbody>
    </table>
    <!--搅拌事件-->
    <table style="left: 2%;top:63%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                搅拌时间
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TM_2203b"></span></td>
            <td>S</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 50%;top:63%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                搅拌时间
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TM_2203a"></span></td>
            <td>S</td>
        </tr>
        </tbody>
    </table>
    <!--无聊温度-->
    <table style="left: 38%;top:70%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                物料温度
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TIB_wuliao"></span></td>
            <td>S</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 73%;top:72%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                物料温度
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TIA_wuliao"></span></td>
            <td>S</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/6.png"/>
    </div>
</div>