<div id='model-li-hide-100' class="display-component-container">

    <script type="application/javascript">
        $(function() {
            layer.open({
                type: 2,
                title: '用户管理',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['99%', '99%'],
                content: "http://218.77.105.241:60080/service/user.action?pages=service.user"
            });
        })
    </script>
</div>
