<div id='model-li-hide-11' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-11 table {
            position: absolute;
        }

        #model-li-hide-11 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>
    <table id="Guolvqi" style="left: 4%;top:50%">
        <tbody>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="AFS_VD24"></span></td>
            <td>Pa</td>
        </tr>
        </tbody>
    </table>
    <table id="Yinfengji" style="left: 5%;top:65%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD568"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD576"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Chuchenqi" style="left: 14%;top:65%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD6"></span>
            </td>
            <td>
                rh&#37;
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD12"></span>
            </td>
            <td>
                &#176;
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD30"></span>
            </td>
            <td>
                m3
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Maichongyi" style="left:14.5%;top:34%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD18"></span>
            </td>
            <td>
                Pa
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fenjiji" style="left:51%;top:79%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD536"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD544"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fensuiji41" style="left: 58%;top:87%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span></span>
            </td>
            <td>
                mm/s
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fensuiji" style="left:64%;top:84%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD552"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD560"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Weiliaoluoxuan" style="left:66%;top:78%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD520"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD528"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Weiliaofa" style="left:61%;top:72.5%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD504"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="AFS_VD512"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table style="left: 88%;top:49.5%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1009
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1009"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 81%;top:64%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1011
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1011"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 89%;top:73%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1014
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1014"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table id="TI_1007" style="left: 87%;top:83%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1007
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1007_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1007_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/7.png"/>
    </div>
</div>