<div id='model-li-hide-113' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">

        .table_inner thead td {
            background-color: #777777;
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
        }

        .table_inner tbody td {
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: 400;
            width: 50px;
        }       

        .arrow_div_left {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: left;
            position: absolute;
            top: 50%;
            left: 0;
        }

        .arrow_div_right {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: right;
            position: absolute;
            top: 50%;
            right: 0;
        }

        .table_scroll {
            overflow-y: auto;
            height: 700px;
        }

        .align_middle {
            position: relative;
            top: 50%;
            text-align: center;
        }
        #presoma_table tbody td {
            padding: 3px;
        }
        .provider_input{
            outline: none;  border: 0px;  margin: 0px;  width: 95%;  height: 100%;
        }
        
    </style>
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span id='model-li-hide-normal_add-113'><a href="#"><i class="layui-icon">&#xe608;</i>正常申请</a></span>&nbsp;&nbsp;
                <span id='model-li-hide-urgent_add-113'><a href="#"><i class="layui-icon">&#xe608;</i>紧急申请</a></span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-113"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-113"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <span style="color:#666666;">状态:</span>&nbsp;
                <select id="status">
                    <option selected>选择审核状态</option>
                    <option value="0">未提交</option>
                    <option value="1">在审</option>
                    <option value="2">通过</option>
                    <option value="3">不通过</option>
                </select>
                &nbsp;&nbsp;
                <span style="color:#666666;">流程类型:</span>&nbsp;
                <select id="processtype">
                </select>
                &nbsp;
                <span id="model-li-hide-search-113"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="lingliao_apply_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td class="checkBox_td"><input id="lingliao_apply_checkAll" type="checkbox"></td>
            <td>序号</td>
            <td>领料部门</td>
            <td>申请日期</td>
            <td>流程类型</td>
            <td>审核状态</td>
            <td>领料状态</td>
            <td class="edit_td">详情</td>
            <td class="edit_td">编辑</td>
            <td class="delete_td">删除</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="lingLiao_page">
    </div>
    <script src="../components/js/lingliao_apply.js"></script>
    <script type="application/javascript">
        $(function () {
            lingliao_apply.init()
        })
    </script>
    <!--点击正常申请按钮后弹出来的弹窗-->
    <!--todo 所有的原料类型都是调用rawType/getByMaterialCode?  传入的参数是materialCode(0/1/2) 0代表原料 1代表产品 2代表制程-->
    <div id='normal_add_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div style="text-align: left;" class="fl">
            <span><strong>审批流程:</strong>&nbsp;
                <select id="normal_add_select">
                    
                </select>
            </span>
        </div>
        <div class="fr">
            <button id="normal_add_addBtn" class="add_roundBtn">&nbsp;新增&nbsp;</button>
            &nbsp;&nbsp;
            <button id="normal_delete_Btn" class="delete_roundBtn">&nbsp;删除&nbsp;</button>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="normal_add_modal_table">
            <thead>
            <tr class="grey">
                <td class="normal_td"><input type="checkbox" id='normal_add_checkAll'/></td>
                <td class="normal_td">原料类型</td>
                <td class="normal_td">批号</td>
                <td class="normal_td">库存单位</td>
                <td class="normal_td">库存可用数量</td>
                <td class="normal_td">申请单位</td>
                <td class="normal_td">申请数量</td>
            </tr>
        </thead>
           <tbody>
            

           </tbody>
        </table>
        <div class="whitespace"></div>
        <div style="position: relative;text-align: right;bottom: 0px;">
            <span><strong>日期:</strong>&nbsp;<span id="nor_appl_date"></span> &nbsp;&nbsp;&nbsp;<strong>领料部门:</strong>&nbsp;<span
                    id="nor_app_dep"></span>&nbsp;&nbsp;&nbsp;<strong>申请人:</strong>&nbsp;<span id="nor_cur_user"></span></span>
        </div>
    </div>
    <!--点击紧急申请按钮后弹出来的弹窗-->
    <div id='urgent_add_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div style="text-align: left;" class="fl">
            <span><strong>审批流程:</strong>&nbsp;
                <select id="urgent_add_select">
                   
                </select>
            </span>
        </div>
        <div class="fr">
            <button id="urgent_add_addBtn" class="add_roundBtn">&nbsp;新增&nbsp;</button>
            &nbsp;&nbsp;
            <button id="urgent_delete_btn" class="delete_roundBtn">&nbsp;删除&nbsp;</button>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="urgent_add_modal_table">
            <thead>
            <tr class="grey">
                <td class="normal_td"><input type="checkbox" id='urgent_add_checkAll'/></td>
                <td class="normal_td">原料类型</td>
                <td class="normal_td">批号</td>
                <td class="normal_td" >库存单位</td>
                <td class="normal_td">库存可用数量</td>
                <td class="normal_td">申请单位</td>
                <td class="normal_td">申请数量</td>
            </tr>
        </thead>
            <tbody>
           
            </tbody>
        </table>
        <div class="whitespace"></div>
        <div style="position: relative;text-align: right;bottom: 0px;">
            <span><strong>日期:</strong>&nbsp;<span id="urg_appl_date"></span> &nbsp;&nbsp;&nbsp;<strong>领料部门:</strong>&nbsp;<span
                    id="urg_app_dep"></span>&nbsp;&nbsp;&nbsp;<strong>申请人:</strong>&nbsp;<span id="urg_cur_user"></span></span>
        </div>
    </div>
    <!--点击详情按钮后弹出来的弹窗-->
    <div id='detail_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div style="text-align: left;">
            <span><strong>审批流程:</strong>&nbsp;
                <select id="detail_select">
                    
                </select>
            </span>
        </div>
        <div class="whitespace"></div>
        <table id="detail-table" width="100%">
            <thead>
            <tr class="grey">
                <td class="normal_td">原料类型</td>
                <td class="normal_td">批号</td>
                <td class="normal_td">申请单位</td>
                <td class="normal_td">申请数量</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="whitespace"></div>
        <div style="position: relative;text-align: right;bottom: 0px;">
            <span><strong>日期:</strong>&nbsp;<span
                    id="appl_date"></span> &nbsp;&nbsp;&nbsp;<strong>领料部门:</strong>&nbsp;<span id="app_dep"></span>&nbsp;&nbsp;&nbsp;<strong>申请人:</strong>&nbsp;<span
                    id="cur_user"></span></span>
        </div>
    </div>
    <!--点击编辑按钮后要弹出的弹窗 -->
    <div id='edit_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div style="text-align: left;" class="fl">
            <span><strong>审批流程:</strong>&nbsp;
                <select id="edit_select">
                   
                </select>
            </span>
        </div>
        <div class="fr">
            <button id="edit_addBtn" class="roundBtn">&nbsp;新增&nbsp;</button>
            &nbsp;&nbsp;
            <button id="edit_deleteBtn" class="delete_roundBtn">&nbsp;删除&nbsp;</button>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="edit_modal_table">
            <thead>
            <tr class="grey">
                <td><input type="checkbox" id='edit_checkAll'/></td>
                <td class="normal_td">原料类型</td>
                <td class="normal_td">批号</td>
                <td class="normal_td">库存单位</td>
                <td class="normal_td">库存可用数量</td>
                <td class="normal_td">申请单位</td>
                <td class="normal_td">申请数量</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="whitespace"></div>
        <div style="position: relative;text-align: right;bottom: 0px;">
            <span><strong>日期:</strong>&nbsp;<span id="ed_appl_date"></span> &nbsp;&nbsp;&nbsp;<strong>领料部门:</strong>&nbsp;<span
                    id="ed_app_dep"></span>&nbsp;&nbsp;&nbsp;<strong>申请人:</strong>&nbsp;<span
                    id="ed_cur_user"></span></span>
        </div>
    </div>
    <!--点击弹窗里面的新增要弹出来的窗口 -->
    <div id='edit_addModal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div class="block-quote">
            <div style="text-align: left;" class="fl">
            <span>
                <strong>原料类型</strong>&nbsp;
                <select id="edit_add_select">
                    
                </select>
            </span>
                &nbsp;
                <span>
                    <strong>批号</strong>&nbsp;
                    <input id ="edit_add_input" type="input" placeholder="请输入批号"/>
            </span>
            </div>
            <div class="fr">
                <button id="edit_addModal_search" class="roundBtn">&nbsp;搜索&nbsp;</button>
            </div>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="edit_addModal_table">
        <thead>
            <tr class="grey">
                <td class="normal_td"><input type="checkbox" id='edit_add_search_checkAll' /></td>
                <td class="normal_td">批号</td>
                <td class="normal_td">可用数量</td>
                <td class="normal_td">单位</td>
                <td class="normal_td">检验状态</td>
                <td class="normal_td">详情</td>
            </tr>
        </thead>
            <tbody>
           <!-- <tr>
                <td><input type="checkbox" class='edit_add_search_checkbox'/></td>
                <td>123441232</td>
                <td>38233</td>
                <td>kg</td>
                <td>已检验</td>
                <td><a href='#' class='edit_add_detail' id='detail-1290'><i class='layui-icon'>&#xe60a;</i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox"  class='edit_add_search_checkbox'/></td>
                <td>1223321232</td>
                <td>38</td>
                <td>kg</td>
                <td>未检验</td>
                <td><a href='#' class='edit_add_detail' id='detail-1289'><i class='layui-icon'>&#xe60a;</i></a></td>
            </tr>-->

            </tbody>
        </table>
        <div id="lingLiao_edit_add_page" style="text-align: center;">
        </div>
        <!-- <div class="whitespace"></div>
         <div style="position: relative;text-align: right;bottom: 0px;">
             <span><strong>日期:</strong>&nbsp;系统当前时间 &nbsp;&nbsp;&nbsp;<strong>领料部门:</strong>&nbsp;当前用户所属部门&nbsp;&nbsp;&nbsp;<strong>申请人:</strong>&nbsp;当前用户</span>
         </div>-->
    </div>
</div>
    <!--点击正常申请弹窗里面的新增要弹出来的窗口 -->
    <div id='nor_addModal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div class="block-quote">
            <div style="text-align: left;" class="fl">
            <span>
                <strong>原料类型</strong>&nbsp;
                <select id="nor_add_select">
                    
                </select>
            </span>
                &nbsp;
                <span>
                    <strong>批号</strong>&nbsp;
                    <input type="input" value="请输入批号" id="nor_add_input"/>
            </span>
            </div>
            <div class="fr">
                <button id="nor_addModal_search" class="roundBtn">&nbsp;搜索&nbsp;</button>
            </div>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="nor_addModal_table">
            <thead>
            <tr class="grey">
                <td class="normal_td"><input type="checkbox" id='nor_addModal_checkALl'/></td>
                <td class="normal_td">批号</td>
                <td class="normal_td">可用数量</td>
                <td class="normal_td">单位</td>
                <td class="normal_td">检验状态</td>
                <td class="normal_td">详情</td>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
        </table>
        <div id="lingLiao_nor_add_page"  style="text-align: center;">
        </div>
    </div>
     <!--点击紧急申请弹窗里面的新增要弹出来的窗口 -->
     <div id='urg_addModal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div class="block-quote">
            <div style="text-align: left;" class="fl">
        <span>
            <strong>原料类型</strong>&nbsp;
            <select id="urg_add_select">
                
            </select>
        </span>
                &nbsp;
                <span>
                <strong>批号</strong>&nbsp;
                <input type="input" value="请输入批号" id="urg_add_input"/>
        </span>
            </div>
            <div class="fr">
                <button id="urg_addModal_search" class="roundBtn">&nbsp;搜索&nbsp;</button>
            </div>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="urg_addModal_table">
            <thead>
            <tr class="grey">
                <td class="normal_td"><input type="checkbox" id='urg_addModal_checkALl'/></td>
                <td class="normal_td">批号</td>
                <td class="normal_td">可用数量</td>
                <td class="normal_td">单位</td>
                <td class="normal_td">检验状态</td>
                <td class="normal_td">详情</td>
            </tr>
            </thead>
             <tbody>

        </tbody>
        </table>
        <div id="lingLiao_urg_add_page"  style="text-align: center;">
            </div>
    </div>

</div>






















