<div id='model-li-hide-117' class="display-component-container" style="padding: 20px 20px 20px 20px;">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <style>
             #bowl_abnormal_detail_table td {
                padding: 5px;
                border: 1px darkgrey solid;
                font-size: 14px;
                color: black;
                text-align: center;
                font-weight: 400;
                height:25px;
                width:60px;
            }    
        </style>
        <div class="block-quote">
            <div class="fl">
                <p style="color: #62a49a; font-size: 14px;">
                    <!--&#xe608;-->
                    <span id="model_li_hide_add_117"><a href="#"><i class="layui-icon">&#xe640;</i>新增</a></span>&nbsp;
                    <span id="model_li_hide_delete_117"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
                </p>
            </div>
            <div class="fr">
                <p style="color: #62a49a; font-size: 14px;">
                    <span id="model_li_hide_refresh_117"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                    &nbsp;&nbsp;
                    <input type="text" id="input_batch_num" placeholder="请输入批号"/> &nbsp;&nbsp;
                    <span id="model_li_hide_search_117"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
                </p>
            </div>
        </div>
    
        <div class="whitespace" ></div>
    
        <table id="bowl_abnormal_table" style="width: 100%;">
            <thead style="background: #666666;">
            <tr>
                <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
                <td class="checkBox_td"><input id="bowl_abnormal_checkAll" type="checkbox"></td>
                <td>序号</td>
                <td>日期</td>
                <td>班次</td>
                <td width="100px">装钵机号</td>
                <td>详情</td>
                <td>编辑</td>
                <td>删除</td>
            </tr>
            </thead>
            <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
            <tr>
            <td><input type="checkbox" class="bowl_abnormal_checkbox"></td>
            <td>1</td>
            <td>2017-12-31</td>
            <td>恩恩</td>
            <td>1231</td>
            <td><a href="#" class='detail' id='detail-1'><i class="layui-icon">&#xe60a;</i></a></td>
            <td><a href="#" class='editor' id='editor-1'><i class="layui-icon">&#xe642;</i></a></td>
            <td><a href="#" class='delete' id='delete-1'><i class='fa fa-times-circle-o'></a></td>
            </tr>
            <tbody>
            </tbody>
        </table>
    
        <div id="bowl_abnormal_page"></div>
        <script src="../components/js/bowl_abnormal.js"></script>
        <script type="application/javascript">
            $(function () {
                bowl_abnormal.init()
            })
        </script>
        <div id="bowl_abnormal_detail_modal" class="hide" style="padding:30px;">
            
            <table id="bowl_abnormal_detail_table">
                <thead>
                 <tr class="grey">
                    <td>班次</td>
                    <td>时间</td>
                    <td>装钵机号</td>
                    <td>上层</td>
                    <td>下层</td>
                    <td>总重</td>
                    <td>皮重</td>
                    <td>净重</td>
                    <td>差异</td>
                    <td>添加/kg</td>
                    <td>减少/kg</td>
                    <td>操作人</td>
                    <td>核查人</td>
                </tr>
               </thead>
               <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
            <div class="whitespace"></div>
            <span style="float:right;">日期：<span id="time" style="width:10%;"></span></span>
        </div>
    </div>