<div id='model-li-hide-12' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-12 table {
            position: absolute;
        }

        #model-li-hide-12 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>
    <table id="Guolvqi" style="left: 5.7%;top:50%">
        <tbody>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="BFS_VD24"></span></td>
            <td>Pa</td>
        </tr>
        </tbody>
    </table>
    <table id="Yinfengji" style="left: 6%;top:68%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD568">0.0</span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD576">0.0</span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Chuchenqi" style="left: 14%;top:65%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD6"></span>
            </td>
            <td>
                rh&#37;
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD12"></span>
            </td>
            <td>
                &#176;
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD30"></span>
            </td>
            <td>
                m3
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Maichongyi" style="left:14%;top:36%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD18"></span>
            </td>
            <td>
                Pa
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fenjiji" style="left:48%;top:80%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD536"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD544"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fensuiji41" style="left: 54%;top:87%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD0"></span>
            </td>
            <td>
                mm/s
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Fensuiji" style="left:66.5%;top:84%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD552"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD560"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Weiliaoluoxuan" style="left:62%;top:78%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD520"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD528"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table id="Weiliaofa" style="left:61%;top:72.5%">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD504"></span>
            </td>
            <td>
                Hz
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td>
                <span id="BFS_VD512"></span>
            </td>
            <td>
                A
            </td>
        </tr>
        </tbody>
    </table>
    <table style="left: 82%;top:52%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1008
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1008_W"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 74%;top:68%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1010
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1010_W"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 82.5%;top:73%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1012
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1012"></span></td>
            <td>Kg</td>
        </tr>
        </tbody>
    </table>
    <table id="TI_1007" style="left: 81%;top:81%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1007
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1008_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1008_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/8.png"/>
    </div>
</div>