<div id='model-li-hide-13' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <select id='model-li-hide-13-select'>
                    <option value="43">一层高粉机</option>
                    <option value="48">锅炉房</option>
                    <option value="53">空压机站</option>
                    <option value="58">四车间低压一段</option>
                    <option value="63">三楼炉前控制室</option>
                    <option value="68">三楼炉尾控制室1</option>
                    <option value="73">四车间低压二段</option>
                    <option value="78">四车间低压三段</option>
                    <option value="83">三楼炉尾控制室2</option>
                    <option value="88">四楼炉尾控制室</option>
                    <option value="560 ">41号辊道炉</option>
                    <option value="944 ">42号辊道炉</option>
                    <option value="1522">43号辊道炉</option>
                    <option value="2165">44号辊道炉</option>
                    <option value="2553">45号辊道炉</option>
                </select>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>

    <div class="canvas-container">
        <!--<canvas id='myChart' style='width: 100%;height: 74%;min-width: 800px;min-height: 500px;'></canvas>-->
    </div>
    <div class="container"></div>
    <script src="../components/js/24hours.js"></script>
    <script type="application/javascript">
        $(function() {
            _24hours.init()
        })
    </script>
</div>