<div id='model-li-hide-138' class="display-component-container" style="padding: 20px 20px 0px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span id='model-li-hide-add-138'><a href="#"><i class="layui-icon">&#xe608;</i>新增</a></span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-138"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-138"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="handover_type_name_input" placeholder="请输入交接类型名称"/>
                <span id="model-li-hide-search-138"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="handover_type_table" style="width: 100%;">
        <thead style="background: #666666;">
            <tr>
                <td class="checkBox_td"><input id="checkAll" type="checkbox"></td>
                <td>交接类型编码</td>
                <td>交接类型名称</td>
                <td class="edit_td">编辑</td>
                <td class="delete_td">删除</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="handover_type_page">
    </div>

    <script src="../components/js/handover_type.js"></script>
    <script type="application/javascript">
        $(function() {
            handover_type.init()
        })
    </script>
</div>