<div id='model-li-hide-2' class="display-component-container">

    <script type="application/javascript">
        $(function() {
            layer.open({
                type: 2,
                title: '一层',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['99%', '99%'],
                content: "http://218.77.105.241:60080/service/panel.action?pages=service.panel&planId="+1+"&index="+0
            });
        })
    </script>
</div>