<div id='model-li-hide-21' class="display-component-container" style="padding: 15px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
        .table_style thead td {
            margin: 0;
            padding: 3px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
        }

        .table_style tbody td {
            margin: 0;
            padding: 3px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: 400;
            height:28px;
        }

        .table_style a {
            text-decoration: none;
            color: #419398;
        }

        .table_style a:hover {
            color: #777;
        }

        .table_inner thead td {
            background-color: #777777;
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
        }

        .table_inner tbody td {
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: 400;
            width: 50px;
        }

        .label_selected {
            border-bottom: #1E9FFF 3px solid;
            padding-bottom: 5px;
            color: #1E9FFF;
        }

        .label_not_selected:hover {
            border-bottom: #777777 3px solid;
            padding-bottom: 5px;
        }

        .arrow_div_left {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: left;
            position: absolute;
            top: 50%;
            left: 0;
        }

        .arrow_div_right {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: right;
            position: absolute;
            top: 50%;
            right: 0;
        }

        .table_scroll {
            
            height: 600px;
        }

        .align_middle {
            position: relative;
            top: 50%;
            text-align: center;
        }
    </style>
    <div class="block-quote">
        <div class="fl">
            <p style="font-size: 14px;">
                <span id="select-presoma" class="label_selected">
                    金弛622
                </span>
                &nbsp;&nbsp;
                <span id="select-lithium" class="label_not_selected">
                    <a href="#">天齐碳酸锂</a>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span id="model-li-hide-select-21">
                    <select id="status">
                        <option value="1">未审核</option>
                        <option value="2">已审核</option>
                    </select>
                </span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-21"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="raw_batch_number_input"  placeholder="请输入批号"/>
                <span id="model-li-hide-search-21"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"> </div>
    <!-- -->
    <div style="overflow-x: scroll;width:100%;height:78%;">
    <table id="presoma_table" class="table_style"  style="width: 120%;position: relative;">
        <thead>
        <tr style="background: #484848">
            <td rowspan="2">操作</td>
            <td rowspan="2" style="min-width: 80px;">审核人</td>
            <td rowspan="2" style="min-width: 65px;">检测日期</td>
            <td rowspan="2" style="min-width: 150px;">厂家批号</td>
            <td rowspan="2">内部编号</td>
            <td rowspan="2" style="min-width: 65px;">生产日期</td>
            <td>数量</td>
            <td rowspan="2" style="min-width: 43px;">判定</td>
            <td>振实密度</td>
            <td>水分</td>
            <td>SSA</td>
            <td>pH值</td>
            <td>粒度(&mu;m)</td>
            <td>筛上物</td>
            <td>Ni+Cu+Mn</td>
            <td>Co</td>
            <td>Mn</td>
            <td>Ni</td>
            <td>Na</td>
            <td>Mg</td>
            <td>Ca</td>
            <td>Fe</td>
            <td>Cu</td>
            <td>Cd</td>
            <td>Zn</td>
            <td>S</td>
            <td>Cl-</td>
            <td>Zr</td>
        </tr>
        <tr style="background: #484848">
            <td>t</td>
            <td>g/cm3</td>
            <td>%</td>
            <td>m2/g</td>
            <td>/</td>
            <td>D50</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>%</td>
            <td>ppm</td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="7">控制采购标准-2016-11-21</td>
            <td>&ge;2.0</td>
            <td>&le;1.0</td>
            <td>4.0~7.0</td>
            <td>7.0~9.0</td>
            <td>9.8~10.5</td>
            <td>&le;0.3</td>
            <td>60~64</td>
            <td>12.2~13.0</td>
            <td>11.6~12.2</td>
            <td>37.6~38.8</td>
            <td>&le;120</td>
            <td>&le;100</td>
            <td>&le;100</td>
            <td>&le;50</td>
            <td>&le;50</td>
            <td>&le;20</td>
            <td>&le;40</td>
            <td>&le;1000</td>
            <td>&le;0.03</td>
            <td></td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="7">2017.07.01采购标准</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&le;1300</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="lithium_table" class="table_style"  style="width: 120%;">
        <thead>
        <tr style="background: #484848">
            <td rowspan="2">操作</td>
            <td rowspan="2">审核人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">厂家批号</td>
            <td rowspan="2">生产日期</td>
            <td rowspan="2">判定</td>
            <td>数量</td>
            <td>水分</td>
            <td colspan="5">粒度(&mu;m)</td>
            <td>筛上物</td>
            <td colspan="5">磁性物质检测ppb</td>
            <td>Li2CO3</td>
            <td>Na</td>
            <td>Mg</td>
            <td>Ca</td>
            <td>Fe</td>
        </tr>
        <tr style="background: #484848">
            <td>t</td>
            <td>%</td>
            <td>D1</td>
            <td>D10</td>
            <td>D50</td>
            <td>D90</td>
            <td>D99</td>
            <td>%</td>
            <td>Fe</td>
            <td>Ni</td>
            <td>Cr</td>
            <td>Zn</td>
            <td>总量</td>
            <td>%</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
        </tr>
        <tr style="background: #666666">
            <td colspan="7">控制采购标准-2016-11-21</td>
            <td>&le;0.25</td>
            <td></td>
            <td></td>
            <td>3~7</td>
            <td>&le;30</td>
            <td>9.8~10.5</td>
            <td>&le;0.3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&le;800</td>
            <td>&ge;18.66</td>
            <td>&le;250</td>
            <td>&le;80</td>
            <td>&le;50</td>
            <td>&le;10</td>
        </tr>
        <tr style="background: #666666">
            <td colspan="7">2017.07.01采购标准</td>
            <td>&le;0.25</td>
            <td></td>
            <td></td>
            <td>3~7</td>
            <td>&le;30</td>
            <td>9.8~10.5</td>
            <td>&le;0.3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&le;500</td>
            <td>&ge;18.66</td>
            <td>&le;250</td>
            <td>&le;80</td>
            <td>&le;50</td>
            <td>&le;10</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="raw_audit_page">
    </div> 
   </div>
    <script src="../components/js/raw_audit.js"></script>
    <script type="application/javascript">
        $(function () {
            raw_audit.init()
        })
    </script>
</div>