<div id='model-li-hide-22' class="display-component-container" style="padding: 20px 20px 20px 20px;max-height: 100%;overflow: auto;max-width: 100%;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
        .table_style thead td {
            margin: 0;
            padding: 1px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
        }

        .table_style tbody td {
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: 400;
            height:30px;
        }

        .table_style a {
            text-decoration: none;
            color: #419398;
        }

        .table_style a:hover {
            color: #777;
        }

        .table_inner thead td {
            background-color: #777777;
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
        }

        .table_inner tbody td {
            margin: 0;
            padding: 2px;
            border: 1px darkgrey solid;
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: 400;
            width: 150px;
        }

        .label_selected {
            border-bottom: #1E9FFF 3px solid;
            padding-bottom: 5px;
            color: #1E9FFF;
        }

        .label_not_selected:hover {
            border-bottom: #777777 3px solid;
            padding-bottom: 5px;
        }

        .arrow_div_left {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: left;
            position: absolute;
            top: 50%;
            left: 0;
        }

        .arrow_div_right {
            width: 40px;
            height: 40px;
            margin: 0 0 0 0;
            float: right;
            position: absolute;
            top: 50%;
            right: 0;
        }

        .table_scroll {
            padding:20px;
        }

        .align_middle {
            position: relative;
            top: 50%;
            text-align: center;
        }
        #model-li-hide-22 tbody td {
            padding: 3px;
        }
    </style>
    <div class="block-quote">
        <div class="fl">
            <p style="font-size: 14px;">
                <span id="select-premix" class="label_selected">
                    预混
                </span>
                &nbsp;&nbsp;
                <span id="select-size" class="label_not_selected">
                    <a href="#">粉碎粒度</a>
                </span>
                &nbsp;&nbsp;
                <span id="select-lithium" class="label_not_selected">
                    <a href="#">粉碎总锂</a>
                </span>
                &nbsp;&nbsp;
                <span id="select-buckle" class="label_not_selected">
                    <a href="#">粉碎SSA</a>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span id="model-li-hide-select-22">
                    <select id="status">
                        <option value="1">未审核</option>
                        <option value="2">已审核</option>
                    </select>
                </span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-22"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="process_batch_number_input"  placeholder="请输入批号"/>
                <span id="model-li-hide-search-22"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="premix_table" class="table_style" style="width: 100%">
        <thead>
        <tr style="background: #484848">
            <td>操作</td>
            <td>审核人</td>
            <td>检测日期</td>
            <td style="min-width: 150px;">编号</td>
            <td>预混</td>
            <td>可溶锂 %</td>
            <td>主原料厂家</td>
            <td>配比</td>
            <td>锂的理论含量 %</td>
            <td>锂的理论上限 %</td>
            <td>Me%</td>
            <td>L/M（实际）</td>
            <td>L/M（理论）</td>
            <td>备注</td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="3">三级文件控制标准</td>
            <td></td>
            <td>理论含量&plusmn;0.08</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="size_table" class="table_style" style="width: 100%">
        <thead>
        <tr style="background: #484848">
            <td rowspan="2">操作</td>
            <td rowspan="2">审核人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">编号</td>
            <td rowspan="2">炉号</td>
            <td colspan="9">振筛粒度</td>
            <td rowspan="2">宽度系数</td>
        </tr>
        <tr style="background: #484848">
            <td>D0</td>
            <td>D1</td>
            <td>D5</td>
            <td>D10</td>
            <td>D50</td>
            <td>D90</td>
            <td>D95</td>
            <td>D99</td>
            <td>D99.99</td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="3">三级文件控制标准</td>
            <td></td>
            <td colspan="9">12.5&plusmn;1.5</td>
            <td>(D90-D10)/D50</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="lithium_table" class="table_style" style="width: 100%">
        <thead>
        <tr style="background: #484848">
            <td rowspan="2">操作</td>
            <td rowspan="2">审核人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">编号</td>
            <td rowspan="2">炉号</td>
            <td>Li2CO3</td>
            <td>LiOH</td>
            <td>总Li含量</td>
        </tr>
        <tr style="background: #484848">
            <td>%</td>
            <td>%</td>
            <td>10ppm</td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="3">三级文件控制标准</td>
            <td></td>
            <td></td>
            <td></td>
            <td>&le;100</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="buckle_table" class="table_style" style="width: 100%">
        <thead>
        <tr style="background: #484848">
            <td rowspan="2">操作</td>
            <td rowspan="2">审核人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">编号</td>
            <td rowspan="2">炉号</td>
            <td>SSA</td>
            <td>扣电</td>
            <td rowspan="2">XRD<br>FWHM(104)</td>
        </tr>
        <tr style="background: #484848">
            <td>m2/g</td>
            <td>mAh/g</td>
        </tr>
        <tr style="background: #666666">
            <td></td>
            <td colspan="3">三级文件控制标准</td>
            <td></td>
            <td>0.30&plusmn;0.08</td>
            <td>&ge;177.5</td>
            <td></td>
        </tr>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="process_audit_page">
    </div>
    <script src="../components/js/process_audit.js"></script>
    <script type="application/javascript">
        $(function () {
            process_audit.init()
        })
    </script>
</div>