<div id='model-li-hide-32' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
         #casket_sampling_detail_table td {
            padding: 7px;
            border: 1px darkgrey solid;
            font-size: 14px;
            color: black;
            text-align: center;
            font-weight: 400;
            height:30x;
        }    
        #casket_sampling_editor_table td{
            padding: 7px;
            border: 1px darkgrey solid;
            font-size: 14px;
            color: black;
            text-align: center;
            font-weight: 400;
            height:30x;
        }
        #casket_sampling_editor_table input{
            width:100%;
            height:100%;
            border:none;
            text-align: center;
        }
        select{
            width:100%;
            height:100%;
            border:none;
        }
    </style>
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <!--&#xe608;-->
                <span id="model_li_hide_add_32"><a href="#"><i class="layui-icon">&#xe640;</i>新增</a></span>&nbsp;
                <span id="model_li_hide_delete_32"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model_li_hide_refresh_32"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <input type="text" id="input_batch_num" placeholder="请输入装钵机号"/> &nbsp;&nbsp;
                <span id="model_li_hide_search_32"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>

    <div class="whitespace" ></div>

    <table id="casket_sampling_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
            <td class="checkBox_td"><input id="casket_sampling_checkAll" type="checkbox"></td>
            <td>序号</td>
            <td>日期</td>
            <td>班次</td>
            <td>装钵机号</td>
            <td>详情</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        </thead>
        <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
        <tbody>
        </tbody>
    </table>

    <div id="casket_sampling_page" style="text-align: center;"></div>
    <script src="../components/js/casket_sampling.js"></script>
    <script type="application/javascript">
        $(function () {
            casket_sampling.init()
        })
    </script>
    <div id="casket_sampling_detail_modal" class="hide" style="padding:30px;">
        
        <table id="casket_sampling_detail_table" width="100%" style="border-left: 0px;border-right: 0px;"> 
            <thead>
            <tr class="grey">
                <td width="8%">班次</td>
                <td width="8%">装钵机号</td>
                <td width="8%">总重</td>
                <td width="8%">皮重</td>
                <td width="8%">净重</td>
                <td width="11%">抽检人</td>
                <td width="19%">抽检人时间</td>
                <td width="11%">检查人</td>
                <td width="19%">检查人时间</td>
            </tr>
          </thead>
          <tbody>
           <tr>
                <td id="dutyCode"></td>
                <td id="bowlCode"></td>
                <td id="total"></td>
                <td id="tare"></td>
                <td id="net"></td>
                <td id="randomCode"></td>
                <td id="randomTime"></td>
                <td id="inspectorCode"></td>
                <td id="inspectorTime"></td>
                </tr>
            
           </tbody>
           
        </table>
        <div class="whitespace"></div>
        <span style="float:right;">日期：<span id="detail_time" style="width:10%;"></span></span>
    </div>
    <div id="casket_sampling_editor_modal" class="hide" style="padding:30px;">
        
            <table id="casket_sampling_editor_table" width="100%" style="border-left: 0px;border-right: 0px;"> 
                <thead>
                <tr class="grey">
                    <td width="8%">班次</td>
                    <td width="8%">装钵机号</td>
                    <td width="8%">总重</td>
                    <td width="8%">皮重</td>
                    <td width="8%">净重</td>
                    <td width="11%">抽检人</td>
                    <td width="19%">抽检人时间</td>
                    <td width="11%">检查人</td>
                    <td width="19%">检查人时间</td>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                    <select id="dutyCode1"></select>
                </td>
                <td>
                    <select id="bowlCode1">
                        <option value='1#'>1#</option>
                        <option value='2#'>2#</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="total1" onkeyup="num(this)" size="12"/>
                </td>
                <td>
                    <input type="text" id="tare1" onkeyup="num(this)" size="12"/>
                </td>
                <td id="net1"></td>
                <td>
                    <select id="randomCode1"></select>
                </td>
                <td>
                    <input type="text" id="randomTime1" placeholder="样式:2018-01-01 00:00:00"  required/> 
                </td>
                <td>
                    <select id="inspectorCode1"></select>
                </td>
                <td>
                    <input type="text" id="inspectorTime1" placeholder="样式:2018-01-01 00:00:00"  required/>
                </td>
            </tr> 
               </tbody>
            </table>
            <div class="whitespace"></div>
            <span style="float:right;">日期：<span id="editor_time" style="width:10%;"></span></span>
        </div>
         <!--限制只能保留两位小数点-->
        <script>
            function num(obj){
                obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
                obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
                obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
                obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
                obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数  
        }  
        </script>
</div>