<div id='model-li-hide-34' class="display-component-container" style="padding: 20px;">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <style>
             #process_tracking_detail_table td {
                padding: 7px;
                border: 1px darkgrey solid;
                font-size: 14px;
                color: black;
                text-align: center;
                font-weight: 400;
                height:30x;
                width:50px;
            }    
            #process_tracking_editor_table td{
                padding: 7px;
                border: 1px darkgrey solid;
                font-size: 14px;
                color: black;
                text-align: center;
                font-weight: 400;
                height:30x;
                width:50px;
            }
            #process_tracking_editor_table input{
                width:100%;
                height:100%;
                border:none;
                text-align: center;
            }
            #process_tracking_editor_table select{
                width:100%;
                height:100%;
                border:none;
            }
        </style>
        <div class="block-quote">
            <div class="fl">
                <p style="color: #62a49a; font-size: 14px;">
                    <!--&#xe608;-->
                    <span id="model_li_hide_add_34"><a href="#"><i class="layui-icon">&#xe640;</i>新增</a></span>&nbsp;
                    <span id="model_li_hide_delete_34"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
                </p>
            </div>
            <div class="fr">
                <p style="color: #62a49a; font-size: 14px;">
                    <span id="model_li_hide_refresh_34"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                    &nbsp;&nbsp;
                    <input type="text" id="input_batch_num" placeholder="请输入预混物料编号"/> &nbsp;&nbsp;
                    <span id="model_li_hide_search_34"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
                </p>
            </div>
        </div>
    
        <div class="whitespace" ></div>
        
        <table id="process_tracking_table" style="width: 100%;">
            <thead style="background: #666666;">
            <tr>
                <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
                <td class="checkBox_td"><input id="process_tracking_checkAll" type="checkbox"></td>
                <td>序号</td>
                <td>预混物料编号</td>
                <td>预烧物料编号</td>
                <td>粉碎物料编号</td>
                <td>详情</td>
                <td>编辑</td>
                <td>删除</td>
            </tr>
            </thead>
            <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
            <tbody>
            </tbody>
        </table>
    
        <div id="process_tracking_page"></div>
        <script src="../components/js/process_tracking.js"></script>
        <script type="application/javascript">
            $(function () {
                process_tracking.init()
            })
        </script>
        <div id="process_tracking_detail_modal" class="hide" style="padding:30px;">
            <span>产品类型:<select id="goodsCode"></select></span>
            <div class="whitespace"></div>
            <table id="process_tracking_detail_table" width="100%" style="border-left: 0px;border-right: 0px;"> 
                <tr>
                    <td class="grey">预混</td>
                    <td>预混物料编号</td>
                    <td id="premixedCode"></td>
                    <td>预混日期</td>
                    <td id="premixedDate"></td>
                    <td>混料机编号</td>
                    <td id="mixerNumber"></td>
                    <td>操作人员</td>
                    <td id="premixedOperator"></td>
                </tr>
                <tr>
                    <td class="grey" rowspan="2">预烧</td>
                    <td rowspan="2">预烧物料编号</td>
                    <td id="presinteringCode" rowspan="2"></td>
                    <td rowspan="2">预烧日期</td>
                    <td id="presinteringDate" rowspan="2"></td>
                    <td rowspan="2" >烧结炉号</td>
                    <td id="sinteringFurnace" rowspan="2"></td>
                    <td>装料人员</td>
                    <td id="presinteringInoperator"></td>
                </tr>
                <tr>
                    <td>倒料人员</td>
                    <td id="presinteringOutoperator"></td>
                </tr>
                <tr>
                    <td class="grey">粉粹</td>
                    <td>粉粹物料编号</td>
                    <td id="crushingCode"></td>
                    <td>粉粹日期</td>
                    <td id="crushingDate"></td>
                    <td>粉粹机编号</td>
                    <td id="millNumber"></td>
                    <td>操作人员</td>
                    <td id="crushingOperator"></td>
                </tr>
                <tr>
                    <td class="grey">备注</td>
                    <td id="note"  colspan="8"></td>
                </tr>
                
            </table>
        </div>

        <div id="process_tracking_editor_modal" class="hide" style="padding:30px;">
            <span>产品类型:<select id="goodsCode1"></select></span>
            <div class="whitespace"></div>
            <table id="process_tracking_editor_table" width="100%" style="border-left: 0px;border-right: 0px;"> 
                <tr>
                    <td class="grey">预混</td>
                    <td>预混物料编号</td>
                    <td><input type="text" id="premixedCode1"/></td>
                    <td>预混日期</td>
                    <td><input type="date" id="premixedDate1"/></td>
                    <td>混料机编号</td>
                    <td><input type="text" id="mixerNumber1"/></td>
                    <td>操作人员</td>
                    <td><select id="premixedOperator1"></select></td>
                </tr>
                <tr>
                    <td class="grey" rowspan="2">预烧</td>
                    <td rowspan="2">预烧物料编号</td>
                    <td rowspan="2"><input type="text" id="presinteringCode1"/></td>
                    <td rowspan="2">预烧日期</td>
                    <td rowspan="2"><input type="date" id="presinteringDate1"/></td>
                    <td rowspan="2" >烧结炉号</td>
                    <td rowspan="2"><input type="text" id="sinteringFurnace1"/></td>
                    <td>装料人员</td>
                    <td><select id="presinteringInoperator1"></select></td>
                </tr>
                <tr>
                    <td>倒料人员</td>
                    <td><select id="presinteringOutoperator1"></select></td>
                </tr>
                <tr>
                    <td class="grey">粉粹</td>
                    <td>粉粹物料编号</td>
                    <td><input type="text" id="crushingCode1"/></td>
                    <td>粉粹日期</td>
                    <td><input type="date" id="crushingDate1"/></td>
                    <td>粉粹机编号</td>
                    <td><input type="text" id="millNumber1"/></td>
                    <td>操作人员</td>
                    <td><select id="crushingOperator1"></select></td>
                </tr>
                <tr>
                    <td class="grey">备注</td>
                    <td colspan="8"><input type="text" id="note1"/></td>
                </tr>    
                </table>
        </div>
</div>