<div id='model-li-hide-38' class="display-component-container" style="padding: 20px 20px 20px 20px;">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <style>
           #iron_remove_table, #iron_remove_table1 {
               width: 1410px;
               margin:0 auto;
           }
           #iron_remove_table td{
               width: 30px;
           }
           #iron_remove_table1 td{
               width: 30px;
           }
          
           #add_modal input{
               text-align: center;
           }
           #add_modal p{
               padding:5px 0px 5px 0px;
           }
          
        </style>
        <div class="block-quote">
            <div class="fl">
                <p style="color: #62a49a; font-size: 14px;">
                    <span id="model_li_hide_add_38"><a href="#"><i class="layui-icon">&#xe640;</i>新增</a></span>&nbsp;
                </p>
            </div>
            <div class="fr">
                <p style="color: #62a49a; font-size: 14px;">
                    <span id="model_li_hide_refresh_38"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                    &nbsp;&nbsp;
                    <input type="text" id="input_batch_num" placeholder="请输入批号"/> &nbsp;&nbsp;
                    <span id="model_li_hide_search_38"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
                </p>
            </div>
        </div>
    
        <div class="whitespace" ></div>
        <div class="canvas-container"> 
                <!-- <canvas id='myChart' style='width: 100%;height: 74%;min-width: 800px;min-height: 500px;'></canvas>-->
             </div>
        <script src="../js/home.js"></script>
        <script src='../js/jquery.min.js'></script>
        <script src='../layui/layui.all.js' charset='utf-8'></script>
        <script src='../layer/layer/layer.js'></script>
        <script src='../js/Chart.js'></script>
        <script src='../js/home.js'></script>
        <script type='application/javascript'>
           $(function() {
            var data2,data3,data4,data1
            data1 = [12,13,14,12,1,3,7,5,9,11,23,12,34,23,23,43,null,null,34,12,32,23,12,21,23,24,31,null,8,9,11]
            data2 = [30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30]
            data3 = [15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15]
            data4 = [10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10]
            var data = {
                //折线图需要为每个数据点设置一标签。这是显示在X轴上。
                /** 横坐标 */
                labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25",
                        "26","27","28","29","30","31"],
                //labels:labels,
                //数据集（y轴数据范围随数据集合中的data中的最大或最小数据而动态改变的）
                datasets: [
                    {
                        label: "副产品比例曲线",
                        fill: false,
                        // steppedLine : false,
                        // lineTension: 0.1,
                        backgroundColor: "rgba(54, 162, 235,0.8)",
                        borderColor: "rgba(54, 162, 235,1)",
                        // borderCapStyle: 'butt',
                        // borderDash: [],
                        // borderDashOffset: 0.0,
                        // borderJoinStyle: 'miter',
                        // pointBorderColor: "rgba(75,192,192,1)",
                        // pointBackgroundColor: "#fff",
                        // pointBorderWidth: 5,
                        // pointHoverRadius: 5,
                        // pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        // pointHoverBorderColor: "rgba(220,220,220,1)",
                        // pointHoverBorderWidth: 2,
                        pointRadius: 3,
                        // pointHitRadius: 10,
                        // spanGaps: true,
                        /** 纵坐标 */
                        data: data1//对象数据
                    },
                    {
                        label: "上限",
                        fill: false,
                        // steppedLine : false,
                        // lineTension: 0.1,
                        backgroundColor: "rgba(255, 0, 0,0.8)",
                        borderColor: "rgba(255, 0, 0,1)",
                        pointRadius: 3,
                        /** 纵坐标 */
                        data: data2//对象数据
                    },
                    {
                        label: "均限",
                        fill: false,
                        // steppedLine : false,
                        // lineTension: 0.1,
                        backgroundColor: "rgba(42, 173, 232,0.8)",
                        borderColor: "rgba(42, 173, 232,1)",
                        pointRadius: 3,
                         /**纵坐标 */
                        data: data3//对象数据
                    },
                    {
                        label: "下限",
                        fill: false,
                        // steppedLine : false,
                        // lineTension: 0.1,
                        backgroundColor: "rgba(255, 0, 0,0.8)",
                        borderColor: "rgba(255, 0, 0,1)",
                        pointRadius: 3,
                        /** 纵坐标 */
                        data: data4//对象数据
                    }
                ],
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'day'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            }
            $('.canvas-container').empty();
            $('.canvas-container').append("<canvas id='myChart' style='width: 100%;height: 74%;min-width: 800px;min-height: 500px;'></canvas>")
            var ctx = document.getElementById("myChart").getContext("2d");
            var width = $("#myChart").width()
            var height = $("#myChart").height()
            var myChart = new Chart(ctx, {
                type: 'line',
                data: data
            })
           })
    </script>

       
</div>