<div id='model-li-hide-5' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-5 table {
            position: absolute;
        }
        #model-li-hide-5 table tr td{
            border:1px green solid;
            background: #4aa69a;
        }
    </style>
    <table id="TI_1001" style="left: 10%;top:26%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1001
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1001_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1001_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <table id="TI_1002" style="left: 84%;top:27%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1002
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1002_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1002_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <table id="WI_1001" style="left: 3.7%;top:48%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1001
            </td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="WI_1001_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table id="WI_1002" style="left: 33.5%;top:48%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1002
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1002_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table id="WI_1003" style="left: 59.6%;top:48%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1003
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1003_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table id="WI_1004" style="left: 90%;top:48%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1004
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1004_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/1.png"/>
    </div>
</div>
