<div id='model-li-hide-54' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <!--&#xe608;-->
                <span id='model-li-hide-add-54'><a href="#"><i class="layui-icon"></i>库存预警</a></span>&nbsp;&nbsp;
                <!--<span id="model-li-hide-delete-48"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>-->
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-54"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <span style="color: #6b6b6b;">预警状态</span>
                <select id="warming_name" style="border-radius: 0;">
                    <option>选择预警状态</option>
                    <option value="0">正常</option>
                    <option value="1">高于阈值</option>
                    <option value="2">小于阈值</option>
                </select>&nbsp;&nbsp;
                <span id="model-li-hide-search-54"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>

    <div class="whitespace"></div>
    <table id="inventory_warming_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
            <td>序号</td>
            <td>物料类型</td>
            <td>物料名称</td>
            <td>库存数量</td>
            <td>预警状态</td>
        </tr>
        </thead>
        <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
        <tbody>
        </tbody>
    </table>
    <div id="plate_alarm_page" style="text-align:center;">
    </div>
    <script src="../components/js/plate_alarm.js"></script>
    <script type="application/javascript">
        $(function () {
            plate_alarm.init()
        })
    </script>
</div>