<div id='model-li-hide-6' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-6 table {
            position: absolute;
        }

        #model-li-hide-6 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>
    <table style="left: 2%;top:38%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1003
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1003_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1003_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <table style="left: 2%;top:48%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1007
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1007_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table id="none" style="left: 40%;top:53%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                单位:(千克)
            </td>
            <td
                style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                装钵1(有缺口)
            </td>
            <td
                style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                装钵2(无缺口)
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵实体加料值:</td>
            <td><span id="41_W136"></span></td>
            <td><span id="41_W148"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵母标量:</td>
            <td><span id="41W_W104"></span></td>
            <td><span id="41W_W120"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵提前量:</td>
            <td><span id="41W_W108"></span></td>
            <td><span id="41W_W124"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵落差量:</td>
            <td><span id="41W_W112"></span></td>
            <td><span id="41W_W128"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵修正值:</td>
            <td><span id="41W_W164"></span></td>
            <td><span id="41W_W168"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵实际值:</td>
            <td><span id="41_WI1"></span></td>
            <td><span id="41_WI2"></span></td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/2.png"/>
    </div>
</div>