<div id='model-li-hide-66' class="display-component-container" style="padding: 20px 20px 0px 20px;">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<div class="block-quote">
		<div class="fl">
			<p style="color: #62a49a; font-size: 14px;">
				<span id='model-li-hide-add-60'><a href="#"><i class="layui-icon">&#xe608;</i>新增</a></span>&nbsp;&nbsp;
				<span id="model-li-hide-delete-60"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
			</p>
		</div>
		<div class="fr">
			<p style="color: #62a49a; font-size: 14px;">
				<span id="model-li-hide-refresh-60"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span> &nbsp;&nbsp;&nbsp;&nbsp;
				<select id="manufacturer_name_input"></select>
				<span id="model-li-hide-search-60"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
			</p>
		</div>
	</div>
	<div class="whitespace"></div>
	<table id="manufacturer_table" style="width: 100%;">
		<thead style="background: #666666;">
			<tr>
				<td class="checkBox_td"><input id="checkAll" type="checkbox"></td>
				<td>原料厂家编码</td>
				<td>原料厂家名称</td>
				<td>厂家联系方式</td>
				<td class="edit_td">编辑</td>
				<td class="delete_td">删除</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div id="manufacturer_page" style="position: absolute;">
	</div>

	<script src="../components/js/manufacturer_manage.js"></script>
	<script type="application/javascript">
		$(function() {
			manufacturer_manage.init()
		})
	</script>
</div>