<div id='model-li-hide-79' class="display-component-container" style="padding: 20px 20px 0px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span id='model-li-hide-add-79'><a href="#"><i class="layui-icon">&#xe608;</i>新增</a></span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-79"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>&nbsp;&nbsp;
                <span id='model-li-hide-reset-79'><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i>重置密码</a></span>&nbsp;&nbsp;
                <span id='model-li-hide-modify-79'><a href="#"><i class="fa fa-unlock-alt" aria-hidden="true"></i>修改初始密码</a></span>&nbsp;&nbsp;
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-79"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="customer_name_input" placeholder="请输入用户名称"/>
                <span id="model-li-hide-search-79"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="customer_table" style="width: 100%">
        <thead style="background: #666666;">
        <tr>
            <td class="checkBox_td"><input id="cus_checkAll" type="checkbox"></td>
            <td>用户名称</td>
            <td>登录名</td>
            <td>描述说明</td>
            <td>手机号码</td>
            <td>所属公司</td>
            <td class="edit_td">编辑</td>
            <td class="delete_td">删除</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="customer_page">
    </div>
    <script src="../components/js/customer_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            customer_manage.init()
        })
    </script>
</div>
























