<div id='model-li-hide-8' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-8 table {
            position: absolute;
        }

        #model-li-hide-8 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>

    <table id="WI_1005" style="left: 1.5%;top:29%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1005
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1005_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>
    <table id="none" style="left: 36%;top:10%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td
                    style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                单位:(千克)
            </td>
            <td
                    style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                装钵1(有缺口)
            </td>
            <td
                    style=" font-size:xx-small;background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                装钵2(无缺口)
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵实体加料值:</td>
            <td><span id="44_vd136"></span></td>
            <td><span id="44_vd148"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵母标量:</td>
            <td><span id="44RW_vd104"></span></td>
            <td><span id="44RW_vd120"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵提前量:</td>
            <td><span id="44RW_vd108"></span></td>
            <td><span id="44RW_vd124"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵落差量:</td>
            <td><span id="44RW_vd112"></span></td>
            <td><span id="44RW_vd128"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵修正值:</td>
            <td><span id="44RW_vd164"></span></td>
            <td><span id="44RW_vd168"></span></td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td>装钵实际值:</td>
            <td><span id="44_WI1"></span></td>
            <td><span id="44_WI2"></span></td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/4.png"/>
    </div>
</div>