<div id='model-li-hide-80' class='display-component-container' style='padding: 20px 20px 0px 20px;'>
    <style type="text/css">
        #privider_body{
            text-align: center;
        }
        #provider_body_uptable{
            margin:0 auto;
            width: 90%;
            height:90px;
            border-collapse:collapse;
            margin-bottom: 25px;

        }

        #provider_body_uptable1{
            margin:0 auto;
            width: 100%;
            border-collapse:collapse;
            margin-bottom: 25px;

        }
        #provider_body_downtable{
            margin:0 auto;
            width: 100%;
            margin-top: 10px;
            border-collapse:collapse;

        }
        #provider_body_downtable1{
            margin:0 auto;
            width: 100%;
            border-collapse:collapse;

        }
        .provider_input{
            outline: none;  border: 0px;  margin: 0px;  width: 95%;  height: 100%;
        }

        tr,td{
            font-size:12px;
            text-align :center;
        }
        .hide {
            display: none;
        }
        input{
            text-align:center;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="hide fl" id="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span id='model-li-hide-add-80'><a href="#"><i class="layui-icon">&#xe608;</i>新增</a></span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-80"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>
            </p>
        </div>
        <div class="hide fr" id="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-80"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>&nbsp;
                <select id="supplyman_name_select">

                </select>
                <!--<input type="text" style="width: 100px" id="supplyman_name_input"/>-->
                <span id="model-li-hide-search-80"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="supplier_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td class="checkBox_td"><input id="sup_checkAll" type="checkbox"></td>
            <td>合同号</td>
            <td>送货人名称</td>
            <td>送货日期</td>
            <td>联系电话</td>
            <td>物料名称</td>
            <td>总重量</td>
            <td>状态</td>
            <td class="detail">详情</td>
            <td class="edit_td">编辑</td>
            <td class="delete_td">删除</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="supplyman_page">
    </div>
    <!--add-->
    <div id="provider_info" class="hide" style="padding: 30px;">
            <table width="100%" style="border-left: 0px;border-right: 0px;">
                <tr>
                    <td class="grey">合同号</td>
                    <td><input class='provider_input' type="text" id="header_inp"></td>
                    <td class="grey">送货人名称</td>
                    <td>
                        <select id="diliverer_inp"></select>
                    </td>
                </tr>
                <tr>
                    <td class="grey">送货时间</td>
                    <td id="test" style="width:38%"><input class='provider_input layui-input' id="dilivery_time_inp" type="date"></td>
                    <td class="grey">联系电话</td>
                    <td><input class='provider_input' type="text" id="contact_inp" onkeyup='this.value=this.value.replace(/\D/gi,"")' maxlength="11"></td>
                </tr>
                <tr>
                    <td class="grey">物料名称</td>
                    <td ><input class='provider_input layui-input' id="name_inp" type="text"></td>
                    <td class="grey">总量</td>
                    <td><input class='provider_input' type="text" id="total_inp"  onkeyup="num(this)" maxlength="14"></td>
                </tr>
                
            </table>
            <div class="whitespace"></div>
            <div class="fr">
                <button id="add_addBtn" class="roundBtn">&nbsp;新增&nbsp;</button>
            </div>
            <div class="whitespace"></div>
            <table id="provider_body_downtable">
                <thead>
                <tr class="grey">
                    <td style="color:black" id="batch_number">批号</td>
                    <td style="color:black" id="specifications" >规格</td>
                    <td style="color:black" id="number">数量</td>
                    <td style="color:black" id="editor">编辑</td>
                    <td style="color:black" id="delete">删除</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
    <!--add_add-->
    <div id="provider_info_add" class="hide" style="padding: 30px;">
        <span>批号：<input type="text" id="add_batchNumber"></span><br/><br/>
        <span>规格：<input type="text" id="add_unit"></span><br/><br/>
        <span width="174px;">数量：<input type="text" id="add_weight" onkeyup="num(this)" maxlength="14"></span>
    </div>

    <!--detail-->
    <div id="provider_info1" class="hide" style="padding: 30px;">
            <table id="provider_body_uptable1">
                <tr>
                    <td width="15%" class="grey">合同号</td>
                    <td id="header_inp1"></td>
                    <td width="15%" class="grey">送货人名称</td>
                    <td id="diliverer_inp1"></td>
                </tr>

                <tr>
                    <td width="15%" class="grey">送货时间</td>
                    <td id="dilivery_time_inp1"></td>
                    <td width="15%" class="grey">联系电话</td>
                    <td id="contact_inp1"></td>
                </tr>

                <tr>
                    <td width="15%" class="grey">名称</td>
                    <td id="name"></td>
                    <td width="15%" class="grey">总量</td>
                    <td id="total_inp1"></td>
                </tr>
            </table>

            <table id="provider_body_downtable1">
                <thead>
                <tr class="grey">
                    <td style="color:black">批号</td>
                    <td style="color:black">规格</td>
                    <td style="color:black">数量</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
    <script src="../components/js/supply_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            supply_manage.init()
        })
    </script>
     <!--限制只能保留两位小数点-->
    <script>
        function num(obj){
            obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数  
}  
    </script>
</div>

