<div id='model-li-hide-82' class="display-component-container" style="padding: 20px 20px 0px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span class="blue_font">所属人员信息</span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="staffman_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td>登录名</td>
            <td>用户名称</td>
            <td>描述说明</td>
            <td>手机号码</td>
            <td>所属公司</td>
            <td class="edit_td">编辑</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="staffman_page">
    </div>
    <script src="../components/js/staff_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            staff_manage.init()
        })
    </script>
</div>
