<div id='model-li-hide-83' class='display-component-container' style='padding: 20px 20px 0px 20px;'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote" style="border-left: 0">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span class="blue_font">输入产品批号:</span>
                <input type="text" name="suppler_name"/>
                <button style='background-color: #5179cc;color: white;border-radius: 5%;'>&nbsp;搜索&nbsp;</button>
            </p>
        </div>
    </div>
</div>