<div id='model-li-hide-83' class='display-component-container' style='padding: 10px;'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        #product thead td {
            padding: 0px;
            border: 1px darkgrey solid;
            font-size: 10px;
            color: black;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            height:5px;
        }

        #product tbody td {
            padding: 0px;
            border: 1px darkgrey solid;
            font-size: 10px;
            color: black;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            height:5px;
        }
        #audit_table_inner thead td {
            color: #fff;
            background: #777777;
        }

        .table_scroll {
            padding:20px;
            height: 600px;
        }
        .align_middle {
            position: relative;
            top: 50%;
            text-align: center;
        }
    </style>
    <body>
    <div class="block-quote" style="border-left: 0">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span class="blue_font">输入产品批号:</span>
                <input type="text" name="suppler_name" id="input_batchNumber"/>
                <button id="button" style='background-color: #5179cc;color: white;border-radius: 5%;'>&nbsp;搜索&nbsp;</button>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="export_pdf()" id="pdf" style='background-color: #5179cc;color: white;border-radius: 5%;'>&nbsp;PDF导出&nbsp;</button>
            </p> 
       </div>
    </div>
    <div  id="product" style="display: none;padding:20px;">
        <table width='100%'>
        <thead class="grey">
            <tr> 
                <td colspan='2' class="normal_td" width="20%">批号</td>
                <td class="normal_td" width="20%">检测日期</td> 
                <td class="normal_td" width="20%">数量(t)</td> 
                <td class="normal_td" width="20%">判定</td> 
                <td></td> 
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td colspan='2' id="batchNumber"></td>
                <td id="testDate" class="normal_td"></td>
                <td id="number"></td> 
                <td id="judge"></td> 
                <td></td>
            </tr>
        </tbody>
        <thead class="grey">
            <tr> 
                <td colspan='2' class="normal_td">审核状态</td>
                <td class="normal_td">发布人</td> 
                <td></td> 
                <td></td> 
                <td></td> 
           </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan='2' id="status"></td>
                <td id="publisher"></td> 
                <td></td> 
                <td></td> 
                <td></td>
           </tr> 
        </tbody>
        <thead class="grey">
            <tr> 
                <td colspan='2' class="normal_td">检测项目</td>
                <td class="normal_td">三级控制标准</td> 
                <td class="normal_td">2016-3-2三级控制标准</td> 
                <td class="normal_td">数据</td> 
                <td class="normal_td">编辑</td> 
           </tr>
        </thead>
        <tbody>
            <tr> 
                <td colspan='2'>振实密度(g/cm3)</td>
                <td>≥2.0</td> 
                <td>2.3~2.7</td> 
                <td id="p1"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>水分(ppm)</td>
                <td>≤500</td> 
                <td>≤200</td> 
                <td id="p2"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>SSA(m2/g)</td>
                <td>0.20~0.40</td> 
                <td>0.22~0.48</td> 
                <td id="p3"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>pH值</td>
                <td>&le;11.80</td> 
                <td>&le;11.80</td> 
                <td id="p4"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Li2CO3（%）</td>
                <td></td> 
                <td>&le;0.25</td> 
                <td id="p5"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>LiOH（%）</td>
                <td></td> 
                <td>&le;0.20</td> 
                <td id="p6"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td rowspan='5'>粒度（um）</td>
                <td>D1</td> 
                <td></td> 
                <td>&ge;3.00</td> 
                <td id="p8"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>D10</td> 
                <td>&ge;6.00</td> 
                <td>&ge;5.00</td> 
                <td id="p9"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>D50</td> 
                <td>11.00~14.00</td> 
                <td>11.30~13.3</td> 
                <td id="p10"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>D90</td> 
                <td>&le;30.00</td> 
                <td>&le;30.00</td> 
                <td id="p11"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>D99</td> 
                <td></td> 
                <td>&le;40.00</td> 
                <td id="p12"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td rowspan='5'>磁性物质检测（ppb）</td>
                <td>粒度宽度系数</td> 
                <td></td> 
                <td></td> 
                <td id="p13"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>Fe</td> 
                <td></td> 
                <td></td> 
                <td id="p14"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>Ni</td> 
                <td></td> 
                <td></td> 
                <td id="p15"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>Cr</td> 
                <td></td> 
                <td></td> 
                <td id="p16"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td>Zn</td> 
                <td></td> 
                <td></td> 
                <td id="p17"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>总量</td>
                <td>&le;50</td> 
                <td>&le;50</td> 
                <td id="p18"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Co（mol%）</td>
                <td>12.20&plusmn;1.0</td> 
                <td>19.7&plusmn;0.5</td> 
                <td id="p19"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Mn（ppm）</td>
                <td></td> 
                <td>19.9&plusmn;0.5</td> 
                <td id="p20"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Ni（ppm）</td>
                <td></td> 
                <td>60.4&plusmn;0.5</td> 
                <td id="p21"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Li（%）</td>
                <td>7.0&plusmn;0.5</td> 
                <td>7.0&plusmn;0.5</td> 
                <td id="p22"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Co（%）</td>
                <td>12.20&plusmn;1.0</td> 
                <td>12.20&plusmn;1.0</td> 
                <td id="p23"></td> 
                <td></td> 
           </tr>

           <tr> 
                <td colspan='2'>Mn（%）</td>
                <td>11.4&plusmn;1.0</td> 
                <td>11.4&plusmn;1.0</td> 
                <td id="p24"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Ni（%）</td>
                <td>36.2&plusmn;1.0</td> 
                <td>36.2&plusmn;1.0</td> 
                <td id="p25"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Na （ppm）</td>
                <td>&le;200</td> 
                <td>&le;200</td> 
                <td id="p26"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Mg （ppm）</td>
                <td>&le;200</td> 
                <td>&le;200</td> 
                <td id="p27"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Ca （ppm）</td>
                <td>&le;200</td> 
                <td>&le;200</td> 
                <td id="p28"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Fe（ppm）</td>
                <td>&le;50</td> 
                <td>&le;30</td> 
                <td id="p29"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Cu（ppm）</td>
                <td>&le;50</td> 
                <td>&le;20</td> 
                <td id="30"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Zn（ppm）</td>
                <td>&le;50</td> 
                <td>&le;30</td> 
                <td id="p31"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>S（ppm）</td>
                <td></td> 
                <td>&le;1500</td> 
                <td id="p32"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>Al（ppm）</td>
                <td></td> 
                <td></td> 
                <td id="p33"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>0.1C放电容量（mAh/g）</td>
                <td>1000&plusmn;300</td> 
                <td>1000&plusmn;300</td> 
                <td id="p34"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>0.1C首次放电效率（%）</td>
                <td></td> 
                <td>&ge;177.5</td> 
                <td id="p35"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>1C放电容量（mAh/g）</td>
                <td></td> 
                <td>&ge;177.5</td> 
                <td id="p36"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>主原料</td>
                <td></td> 
                <td>&ge;88.0</td> 
                <td id="p37"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>成品外观、重量抽查结果</td>
                <td></td> 
                <td>&le;0.20</td> 
                <td id="p38"></td> 
                <td></td> 
           </tr>
           <tr> 
                <td colspan='2'>产线</td>
                <td></td> 
                <td>&le;0.20</td> 
                <td id="p39"></td> 
                <td></td> 
           </tr>
           
        </tbody>
    </table>
    </div>
    </body>
    <script type="text/javascript" src="../tableExport/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="../tableExport/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="../tableExport/jspdf/libs/base64.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="../tableExport/html2canvas.js"></script>
    <script src="../components/js/check_report.js"></script>
    <script type="application/javascript">
        $(function(){
            check_report.init()
        })
        
    </script>
    <script>
        function export_pdf(){
            /* $('#product').tableExport({type:'pdf',
                           jspdf: {orientation: 'l',
                                   format: 'a4',
                                   margins: {left:10, right:10, top:20, bottom:20},
                                   autotable: {styles: {fillColor: 'inherit', 
                                                        textColor: 'inherit'},
                                               tableWidth: 'auto'}
                                  }
                          });*/
            //获取节点高度，后面为克隆节点设置高度。
            var targetDom = $("#product");  
            //克隆节点，默认为false，不复制方法属性，为true是全部复制。
            var cloneDom = $("#product").clone(true);
            //设置克隆节点的css属性，因为之前的层级为0，我们只需要比被克隆的节点层级低即可。
            cloneDom.width(targetDom.width() + "px");  
            cloneDom.height(targetDom.outerHeight() + "px");  
            cloneDom.css({
                "background-color": "white",
                "position": "absolute",
                "top": "0px",
                "z-index": "-1",
                //"height": height+"px"
            });
            //将克隆节点动态追加到body后面。
            $("body").append(cloneDom);
            html2canvas(cloneDom,
                {
                    dpi: 172,//导出pdf清晰度
                    allowTaint: true,
                    taintTest: false,
                    height: $("#product").outerHeight()+90 ,
                    onrendered: function (canvas) {
                        var contentWidth = canvas.width;
                        var contentHeight = canvas.height;
                        console.log(contentHeight)
                        //一页pdf显示html页面生成的canvas高度;
                        var pageHeight = contentWidth / 592.28 * 841.89;
                        //未生成pdf的html页面高度
                        var leftHeight = contentHeight;
                        //pdf页面偏移
                        var position = 0;
                        //html页面生成的canvas在pdf中图片的宽高（a4纸的尺寸[595.28,841.89]）
                        var imgWidth = 595.28;
                        var imgHeight = 592.28 / contentWidth * contentHeight;

                        var pageData = canvas.toDataURL('image/jpeg', 1.0);
                        var pdf = new jsPDF('', 'pt', 'a4');

                        //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                        //当内容未超过pdf一页显示的范围，无需分页
                       /* if (leftHeight < pageHeight) {
                            pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
                        } else {
                            while (leftHeight > 0) {
                                pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                                leftHeight -= pageHeight;
                                position -= 841.89;
                                //避免添加空白页
                                if (leftHeight > 0) {
                                    pdf.addPage();
                                }
                            }
                        }*/
                        pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, targetDom.outerHeight());
                        pdf.save('content.pdf');
                    }, 
                })
    }  
    </script>
   
</div>