<div id='model-li-hide-84' class="display-component-container" style="padding: 20px 20px 0px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span  class="blue_font">所属公司信息</span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="company_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td>公司编号</td>
            <td>公司名称</td>
            <td>社会统一信用代码</td>
            <td>公司地址</td>
            <td>联系人</td>
            <td>联系电话</td>
            <td>公司类型</td>
            <td class="edit_td">编辑</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="companyman_page">
    </div>
    <script src="../components/js/companyman_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            company_manage.init()
        })
    </script>
</div>
