<div id='model-li-hide-9' class="display-component-container img-container">
    <style type="text/css">
        #model-li-hide-9 table {
            position: absolute;
        }

        #model-li-hide-9 table tr td {
            border: 1px green solid;
            background: #4aa69a;
        }
    </style>
    <table style="left: 91.5%;top:35%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                WI_1013
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="WI_1013_W"></span></td>
            <td>KG</td>
        </tr>
        </tbody>
    </table>

    <table style="left: 91.5%;top:42%;">
        <tbody>
        <tr style="text-align: center;font-size: xx-small;">
            <td colspan="2"
                style="background:#fff;border-top: 2px #62a49a solid;border-left: 2px #62a49a solid;border-right: 2px #62a49a solid;">
                TI_1009
            </td>
        </tr>
        <tr style="font-size: xx-small;text-align: center;border: 2px #62a49a solid ;">
            <td><span id="TI_1009_T"></span></td>
            <td>&#176;C</td>
        </tr>
        <tr style="text-align: center;font-size: xx-small;border: 2px #62a49a solid ;">
            <td><span id="TI_1009_R"></span></td>
            <td>&#37;</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img src="../dist/images/monitor/5.png"/>
    </div>
</div>